@import "tailwindcss";
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  .animate-marquee {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .stroke-text {
    -webkit-text-stroke: 1px #065e6c; /* Màu viền xanh đậm */
    color: #c5ecf6; /* Màu chữ nhạt */
  }